@charset "utf-8";
/*========== Arapey and Limelight ==========*/
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Limelight&display=swap');
/*========== Page styling ==========*/
html {
    box-sizing: border-box;
    background: linear-gradient(to right, #edadad, #edadad 50%, #cbece5 50%, #cbece5);
    background-image: url(/images/blue_and_pink_headphones.jpg);
    min-width: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    line-height: 1.4;
}
*, *::before, *::after {
    box-sizing: inherit;
}
header {
    grid-column: 1 / 12;
    grid-row: 1;
    background-color: #dbd4cc;
    padding: 1rem 5%;
}
h1 {
    font-size: 2.8rem;
    font-family: "Limelight", serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0;
}
h2 {
    margin-top: 0;
}
main {
    /* border: 3px solid pink; */
    margin: 2rem;
    padding: 1rem 9rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
}
article {
    grid-column: 1 / 9;
    grid-row: 2;
}
aside {
    grid-column: 9 / 12;
    grid-row: 2;
}
section {
    font-size: 0.8rem;
    grid-column: 1 / 12;
    grid-row: 3;
    justify-self: center;
}
h5 {
    margin: 0;
}
section p {
    margin: 0.5rem 0 1rem;
}
footer {
    grid-column: 1 / 12;
    grid-row: 4;
    position: fixed;  
    bottom: 0;
    background-color: #000000;
    width: 100vw;
    color: #edadad;
    text-align: center;
}

/*========== Typography ==========*/